dvc==2.8.3
joblib==1.2.0
jupyter==1.0.0
jupyter_contrib_nbextensions==0.7.0
aiogram==2.25.1
PyYAML==6.0
openai==0.27.2
pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.2
gradio==3.23.0
pinecone_client==2.2.1
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
black==23.1.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.0
pathspec==0.11.0
platformdirs==3.0.0
python-dotenv==0.21.1
requests==2.28.2
tomli==2.0.1
tqdm==4.64.1
typing_extensions==4.5.0
urllib3==1.26.14
yarl==1.8.2
pyTelegramBotAPI==4.10.0
python_dotenv==1.0.0
Chroma==0.2.0
langchain==0.0.171